@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Homemade+Apple&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
}

body,
html {
    height: 100%;
}

header {
    background: black;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.background {
    background: url('https://imgs.cursosdeformacao.com.br/img_cursos/prod/img_1230x644/educacao/matematica-para-o-ensino-fundamental.jpg') no-repeat center center/cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px) brightness(0.6);
    z-index: -1;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container h1 {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.container p {
    margin-bottom: 20px;
    font-size: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: gray;
}

.voltar {
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
    font-size: 30px;
}

.voltar:hover {
    text-decoration: underline;
}

#resultado p {
    font-size: 30px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 43px;
    margin-top: auto;
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.6rem;
    }

    header p {
        font-size: 0.95rem;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }
}